%% 活动相关配置
%% 1：充值活动；2：开服目标；3：无尽的迷宫；4：怪物猎人；5：妖界双美；6：充值返利
{open_activity, 
    [
        {1, 
            {
                {{2014, 5, 16}, {0, 0, 0}}, 
                {{2015, 10, 26}, {0, 0, 0}}
            }
        },

        {2, 
            {open_server, 0, 1700}
        }

        %{6, 
            %{open_server, 0, 170}
        %}

    ]
}.

%% 首冲活动奖励
{first_pay_award, []}.

