




%%{c_activity_pay,id,"name",pay,award}.
{c_activity_pay,1,"充值1000奖励",1000,[]}.
{c_activity_pay,2,"充值2000奖励",2000,[]}.
{c_activity_pay,3,"充值3000奖励",3000,[]}.
{c_activity_pay,4,"充值4000奖励",4000,[]}.
{c_activity_pay,5,"充值5000奖励",5000,[]}.
{c_activity_pay,6,"充值6000奖励",6000,[]}.
{c_activity_pay,7,"充值7000奖励",7000,[]}.

