


{c_function_limit,suff_mon,0,3}.
{c_function_limit,handbook,0,0}.
{c_function_limit,mon_to_soul,0,0}.
{c_function_limit,mvm,0,18}.
{c_function_limit,elite,0,0}.
{c_function_limit,shop,0,0}.
{c_function_limit,hero_pvp,0,9}.
{c_function_limit,elite_mount_1,0,0}.
{c_function_limit,elite_mount_2,0,0}.
{c_function_limit,elite_mount_3,0,0}.
{c_function_limit,mon_reborn,60,0}.

