
%% 开服目标活动的配置文件
%% 
%% id：唯一编号
%% name：目标名字
%% hook：hook标示
%% condition：条件
%% iconTypeId:此条件属于界面上哪个图标里的内容（1-日常活动， 2-目标活动, 3-充值活动, 4-返利， 5-循环充值消费）

%% max：上限
%% hookdata
%% hook_lv等级
%% hook_purple_mon_num数量
%% hook_gold_mon_num数量
%% hook_elite_num数量
%% hook_pay数量
%% hook_pve_3star次数
%% hook_pvp_num次数
%% hook_sandglass_use数量
%% hook_item_use数量
%% hook_skill_lv数量
%% hook_pve_continue数量
%% hook_elite_mount数量
%% hook_elite_attr_up数量
%% hook_boos_dead数量
%% hook_shop_buy数量

%%{c_goal,id,"name",hook,max,award}.
{c_goal,1,"开服3天升到3级",hook_lv,3,[]}.
{c_goal,2,"开服3天升到5级",hook_lv,5,[]}.
{c_goal,3,"开服3天升到10级",hook_lv,10,[]}.
{c_goal,4,"开服3天升到15级",hook_lv,15,[]}.
{c_goal,5,"开服一周紫怪1只",hook_purple_mon_num,1,[]}.
{c_goal,6,"开服一周紫怪2只",hook_purple_mon_num,2,[]}.
{c_goal,7,"开服一周紫怪3只",hook_purple_mon_num,3,[]}.
{c_goal,8,"开服一周金怪1只",hook_gold_mon_num,1,[]}.
{c_goal,9,"开服一周金怪2只",hook_gold_mon_num,2,[]}.
{c_goal,10,"开服一周金怪3只",hook_gold_mon_num,3,[]}.
{c_goal,11,"开服一周获得魔神1个",hook_elite_num,1,[]}.
{c_goal,12,"开服一周获得魔神2个",hook_elite_num,2,[]}.
{c_goal,13,"开服一周获得魔神3个",hook_elite_num,3,[]}.
{c_goal,14,"开服一周充值100",hook_pay,100,[]}.
{c_goal,15,"开服一周充值200",hook_pay,200,[]}.
{c_goal,16,"开服一周充值500",hook_pay,500,[]}.
{c_goal,17,"开服一周充值1000",hook_pay,1000,[]}.
{c_goal,18,"开服一周充值2000",hook_pay,2000,[]}.
{c_goal,19,"副本3星1次",hook_pve_3star,1,[]}.
{c_goal,20,"副本3星10次",hook_pve_3star,10,[]}.
{c_goal,21,"副本3星20次",hook_pve_3star,20,[]}.
{c_goal,22,"副本3星50次",hook_pve_3star,50,[]}.
{c_goal,23,"pvp次数1",hook_pvp_num,1,[]}.
{c_goal,24,"pvp次数5",hook_pvp_num,5,[]}.
{c_goal,25,"pvp次数10",hook_pvp_num,10,[]}.
{c_goal,26,"pvp次数20",hook_pvp_num,20,[]}.
{c_goal,27,"使用时之沙10000",hook_sandglass_use,10000,[]}.
{c_goal,28,"使用时之沙50000",hook_sandglass_use,50000,[]}.
{c_goal,29,"使用时之沙100000",hook_sandglass_use,100000,[]}.
{c_goal,30,"使用时之沙200000",hook_sandglass_use,200000,[]}.
{c_goal,31,"使用道具1",hook_item_use,1,[]}.
{c_goal,32,"使用道具3",hook_item_use,3,[]}.
{c_goal,33,"使用道具5",hook_item_use,5,[]}.
{c_goal,34,"使用道具10",hook_item_use,10,[]}.
{c_goal,35,"任意技能3级",hook_skill_lv,3,[]}.
{c_goal,36,"连续5层迷宫",hook_pve_continue,5,[]}.
{c_goal,37,"连续10层迷宫",hook_pve_continue,10,[]}.
{c_goal,38,"魔神附身",hook_elite_mount,1,[]}.
{c_goal,39,"魔神强化",hook_elite_attr_up,1,[]}.
{c_goal,40,"击杀boss1",hook_boos_dead,1,[]}.
{c_goal,41,"击杀boss10",hook_boos_dead,10,[]}.
{c_goal,42,"击杀boss20",hook_boos_dead,20,[]}.
{c_goal,43,"击杀boss50",hook_boos_dead,50,[]}.
{c_goal,44,"商城购买1",hook_shop_buy,1,[]}.
{c_goal,45,"商城购买5",hook_shop_buy,5,[]}.
{c_goal,46,"商城购买10",hook_shop_buy,10,[]}.
{c_goal,47,"商城购买20",hook_shop_buy,20,[]}.

