
%% section 等级段序号
%% lv 每个等级段的初始等级
%% map 路的长度上限
%% mon 怪物数量上限

{c_map_limit,section,lv,map,mon}.
{c_map_limit,1,1,30,8}.
{c_map_limit,2,5,40,10}.
{c_map_limit,3,10,50,12}.
{c_map_limit,4,15,60,14}.
{c_map_limit,5,20,70,16}.
{c_map_limit,6,25,80,18}.
{c_map_limit,7,30,90,20}.
{c_map_limit,8,35,100,22}.

