
%% 由make_proto.lua自动生成

{'PCS_sprite_status', '1'}.
{'1', 'PCS_sprite_status'}.
{'PSC_set_name', '2'}.
{'2', 'PSC_set_name'}.
{'PSC_activity_rebate', '3'}.
{'3', 'PSC_activity_rebate'}.
{'PSC_shop_list', '4'}.
{'4', 'PSC_shop_list'}.
{'PSC_item_list', '5'}.
{'5', 'PSC_item_list'}.
{'PSC_trap_lv_up', '6'}.
{'6', 'PSC_trap_lv_up'}.
{'PCS_record', '7'}.
{'7', 'PCS_record'}.
{'PSC_dungeon_list', '8'}.
{'8', 'PSC_dungeon_list'}.
{'PCS_trap_on_map', '9'}.
{'9', 'PCS_trap_on_map'}.
{'PSC_item', '10'}.
{'10', 'PSC_item'}.
{'PSC_attr_up', '11'}.
{'11', 'PSC_attr_up'}.
{'PSC_war_win', '12'}.
{'12', 'PSC_war_win'}.
{'PCS_suff_start', '13'}.
{'13', 'PCS_suff_start'}.
{'PSC_mon_to_soul', '14'}.
{'14', 'PSC_mon_to_soul'}.
{'PCS_set_name', '15'}.
{'15', 'PCS_set_name'}.
{'PCS_mon_reborn', '16'}.
{'16', 'PCS_mon_reborn'}.
{'PCS_item_use', '17'}.
{'17', 'PCS_item_use'}.
{'PCS_select_enemy', '18'}.
{'18', 'PCS_select_enemy'}.
{'PSC_effect_list', '19'}.
{'19', 'PSC_effect_list'}.
{'PCS_activity_rebate', '20'}.
{'20', 'PCS_activity_rebate'}.
{'PSC_goal', '21'}.
{'21', 'PSC_goal'}.
{'PCS_hero_pvp', '22'}.
{'22', 'PCS_hero_pvp'}.
{'PCS_elite_on_hero', '23'}.
{'23', 'PCS_elite_on_hero'}.
{'PSC_change_map', '24'}.
{'24', 'PSC_change_map'}.
{'PCS_mon_to_soul', '25'}.
{'25', 'PCS_mon_to_soul'}.
{'PCS_attr_up', '26'}.
{'26', 'PCS_attr_up'}.
{'PSC_activity_rebate_award', '27'}.
{'27', 'PSC_activity_rebate_award'}.
{'PSC_item_use', '28'}.
{'28', 'PSC_item_use'}.
{'PCS_activity_rebate_award', '29'}.
{'29', 'PCS_activity_rebate_award'}.
{'PSC_record', '30'}.
{'30', 'PSC_record'}.
{'PCS_set_sex', '31'}.
{'31', 'PCS_set_sex'}.
{'PSC_drop_list', '32'}.
{'32', 'PSC_drop_list'}.
{'PSC_skill_up', '33'}.
{'33', 'PSC_skill_up'}.
{'PSC_new_elite', '34'}.
{'34', 'PSC_new_elite'}.
{'PSC_effect', '35'}.
{'35', 'PSC_effect'}.
{'PCS_battle_refresh', '36'}.
{'36', 'PCS_battle_refresh'}.
{'PCS_email_list', '37'}.
{'37', 'PCS_email_list'}.
{'PSC_check_accname', '38'}.
{'38', 'PSC_check_accname'}.
{'PSC_first_pay_award', '39'}.
{'39', 'PSC_first_pay_award'}.
{'PSC_mon_change', '40'}.
{'40', 'PSC_mon_change'}.
{'PSC_trap', '41'}.
{'41', 'PSC_trap'}.
{'PSC_elite_mount', '42'}.
{'42', 'PSC_elite_mount'}.
{'PSC_shop_buy', '43'}.
{'43', 'PSC_shop_buy'}.
{'PCS_sprite_pop', '44'}.
{'44', 'PCS_sprite_pop'}.
{'PCS_war_action', '45'}.
{'45', 'PCS_war_action'}.
{'PSC_activity_pay', '46'}.
{'46', 'PSC_activity_pay'}.
{'PSC_elite_unmount', '47'}.
{'47', 'PSC_elite_unmount'}.
{'PCS_client_debug', '48'}.
{'48', 'PCS_client_debug'}.
{'A', '49'}.
{'49', 'A'}.
{'PCS_elite_mount', '50'}.
{'50', 'PCS_elite_mount'}.
{'C', '51'}.
{'51', 'C'}.
{'PSC_email_get_item', '52'}.
{'52', 'PSC_email_get_item'}.
{'PSC_map', '53'}.
{'53', 'PSC_map'}.
{'OrnaItem', '54'}.
{'54', 'OrnaItem'}.
{'PCS_set_guide_step', '55'}.
{'55', 'PCS_set_guide_step'}.
{'PSC_mon_reborn', '56'}.
{'56', 'PSC_mon_reborn'}.
{'PSC_war_check_result', '57'}.
{'57', 'PSC_war_check_result'}.
{'PCS_change_map', '58'}.
{'58', 'PCS_change_map'}.
{'PCS_map', '59'}.
{'59', 'PCS_map'}.
{'PCS_check_accname', '60'}.
{'60', 'PCS_check_accname'}.
{'PSC_set_sex', '61'}.
{'61', 'PSC_set_sex'}.
{'Test', '62'}.
{'62', 'Test'}.
{'PSC_record_index', '63'}.
{'63', 'PSC_record_index'}.
{'PSC_dungeon_star', '64'}.
{'64', 'PSC_dungeon_star'}.
{'PSC_lv_up_list', '65'}.
{'65', 'PSC_lv_up_list'}.
{'PCS_skill_up', '66'}.
{'66', 'PCS_skill_up'}.
{'PSC_elite', '67'}.
{'67', 'PSC_elite'}.
{'PSC_effect_single', '68'}.
{'68', 'PSC_effect_single'}.
{'PCS_mon_get_hourglass', '69'}.
{'69', 'PCS_mon_get_hourglass'}.
{'PCS_activity_pay_list', '70'}.
{'70', 'PCS_activity_pay_list'}.
{'PCS_goal_award', '71'}.
{'71', 'PCS_goal_award'}.
{'PSC_mon_on_map', '72'}.
{'72', 'PSC_mon_on_map'}.
{'PSC_chat_list', '73'}.
{'73', 'PSC_chat_list'}.
{'PCS_suff_status', '74'}.
{'74', 'PCS_suff_status'}.
{'PCS_chat_list', '75'}.
{'75', 'PCS_chat_list'}.
{'DArray', '76'}.
{'76', 'DArray'}.
{'PSC_suff_status', '77'}.
{'77', 'PSC_suff_status'}.
{'PSC_new_trap', '78'}.
{'78', 'PSC_new_trap'}.
{'PSC_record_trap', '79'}.
{'79', 'PSC_record_trap'}.
{'PSC_system_notice', '80'}.
{'80', 'PSC_system_notice'}.
{'PCS_mon_on_map', '81'}.
{'81', 'PCS_mon_on_map'}.
{'PSC_pay', '82'}.
{'82', 'PSC_pay'}.
{'PCS_pay', '83'}.
{'83', 'PCS_pay'}.
{'PSC_sign_award', '84'}.
{'84', 'PSC_sign_award'}.
{'PSC_shop_item', '85'}.
{'85', 'PSC_shop_item'}.
{'PCS_sign_award', '86'}.
{'86', 'PCS_sign_award'}.
{'PSC_sign', '87'}.
{'87', 'PSC_sign'}.
{'PSC_sign_list', '88'}.
{'88', 'PSC_sign_list'}.
{'PCS_dungeon_list', '89'}.
{'89', 'PCS_dungeon_list'}.
{'PSC_record_elite', '90'}.
{'90', 'PSC_record_elite'}.
{'PCS_elite_list', '91'}.
{'91', 'PCS_elite_list'}.
{'PCS_first_pay_award', '92'}.
{'92', 'PCS_first_pay_award'}.
{'PSC_activity_pay_list', '93'}.
{'93', 'PSC_activity_pay_list'}.
{'PSC_suff_start', '94'}.
{'94', 'PSC_suff_start'}.
{'PSC_record_hero', '95'}.
{'95', 'PSC_record_hero'}.
{'PSC_elite_list', '96'}.
{'96', 'PSC_elite_list'}.
{'PCS_chat_item', '97'}.
{'97', 'PCS_chat_item'}.
{'PSC_activity_pay_award', '98'}.
{'98', 'PSC_activity_pay_award'}.
{'PCS_sprite_walk', '99'}.
{'99', 'PCS_sprite_walk'}.
{'PSC_goal_award', '100'}.
{'100', 'PSC_goal_award'}.
{'PCS_chat', '101'}.
{'101', 'PCS_chat'}.
{'RoadTile', '102'}.
{'102', 'RoadTile'}.
{'PSC_activity_list', '103'}.
{'103', 'PSC_activity_list'}.
{'PSC_hero_change', '104'}.
{'104', 'PSC_hero_change'}.
{'PSC_handbook', '105'}.
{'105', 'PSC_handbook'}.
{'PSC_elite_change', '106'}.
{'106', 'PSC_elite_change'}.
{'PCS_record_index_list', '107'}.
{'107', 'PCS_record_index_list'}.
{'PSC_pve_refresh', '108'}.
{'108', 'PSC_pve_refresh'}.
{'PSC_sprite_change', '109'}.
{'109', 'PSC_sprite_change'}.
{'PCS_trap_lv_up', '110'}.
{'110', 'PCS_trap_lv_up'}.
{'PSC_email_list', '111'}.
{'111', 'PSC_email_list'}.
{'PSC_record_index_list', '112'}.
{'112', 'PSC_record_index_list'}.
{'PSC_activity_time', '113'}.
{'113', 'PSC_activity_time'}.
{'PCS_goal_list', '114'}.
{'114', 'PCS_goal_list'}.
{'PCS_hero_pve_refresh', '115'}.
{'115', 'PCS_hero_pve_refresh'}.
{'PSC_hero_pve', '116'}.
{'116', 'PSC_hero_pve'}.
{'PSC_mon_pvp', '117'}.
{'117', 'PSC_mon_pvp'}.
{'PSC_mon', '118'}.
{'118', 'PSC_mon'}.
{'PCS_hero_pve', '119'}.
{'119', 'PCS_hero_pve'}.
{'PCS_hero_pve_data', '120'}.
{'120', 'PCS_hero_pve_data'}.
{'PSC_hero_pve_data', '121'}.
{'121', 'PSC_hero_pve_data'}.
{'PSC_heartbeat', '122'}.
{'122', 'PSC_heartbeat'}.
{'PCS_item_sale', '123'}.
{'123', 'PCS_item_sale'}.
{'PCS_shop_list', '124'}.
{'124', 'PCS_shop_list'}.
{'PCS_email_confirm', '125'}.
{'125', 'PCS_email_confirm'}.
{'PSC_hero', '126'}.
{'126', 'PSC_hero'}.
{'PSC_trap_to_know', '127'}.
{'127', 'PSC_trap_to_know'}.
{'PCS_heartbeat', '128'}.
{'128', 'PCS_heartbeat'}.
{'PSC_email_openbox', '129'}.
{'129', 'PSC_email_openbox'}.
{'PCS_email_openbox', '130'}.
{'130', 'PCS_email_openbox'}.
{'PCS_email_get_item', '131'}.
{'131', 'PCS_email_get_item'}.
{'PSC_sign_up', '132'}.
{'132', 'PSC_sign_up'}.
{'PCS_shop_buy', '133'}.
{'133', 'PCS_shop_buy'}.
{'PSC_new_mon', '134'}.
{'134', 'PSC_new_mon'}.
{'PSC_battle', '135'}.
{'135', 'PSC_battle'}.
{'PCS_sprite_fight_start', '136'}.
{'136', 'PCS_sprite_fight_start'}.
{'PSC_sprite_fight', '137'}.
{'137', 'PSC_sprite_fight'}.
{'PCS_suff_detect', '138'}.
{'138', 'PCS_suff_detect'}.
{'PSC_skill', '139'}.
{'139', 'PSC_skill'}.
{'PSC_email', '140'}.
{'140', 'PSC_email'}.
{'PSC_goal_list', '141'}.
{'141', 'PSC_goal_list'}.
{'PSC_handbook_list', '142'}.
{'142', 'PSC_handbook_list'}.
{'PSC_mon_hourglass', '143'}.
{'143', 'PSC_mon_hourglass'}.
{'PCS_login', '144'}.
{'144', 'PCS_login'}.
{'PCS_activity_pay_award', '145'}.
{'145', 'PCS_activity_pay_award'}.
{'PSC_record_onhero_elite', '146'}.
{'146', 'PSC_record_onhero_elite'}.
{'PCS_war_end', '147'}.
{'147', 'PCS_war_end'}.
{'PSC_sprite_walk', '148'}.
{'148', 'PSC_sprite_walk'}.
{'PCS_activity_list', '149'}.
{'149', 'PCS_activity_list'}.
{'PCS_mon_hourglass', '150'}.
{'150', 'PCS_mon_hourglass'}.
{'PSC_drop', '151'}.
{'151', 'PSC_drop'}.
{'PCS_gm', '152'}.
{'152', 'PCS_gm'}.
{'PCS_record_bornTK', '153'}.
{'153', 'PCS_record_bornTK'}.
{'PSC_select_enemy', '154'}.
{'154', 'PSC_select_enemy'}.
{'PSC_new_accname', '155'}.
{'155', 'PSC_new_accname'}.
{'PCS_elite_on_map', '156'}.
{'156', 'PCS_elite_on_map'}.
{'PSC_battle_item', '157'}.
{'157', 'PSC_battle_item'}.
{'PCS_battle', '158'}.
{'158', 'PCS_battle'}.
{'PCS_sign_up', '159'}.
{'159', 'PCS_sign_up'}.
{'PCS_sprite_return', '160'}.
{'160', 'PCS_sprite_return'}.
{'PSC_lv_up', '161'}.
{'161', 'PSC_lv_up'}.
{'PSC_item_sale', '162'}.
{'162', 'PSC_item_sale'}.
{'PSC_suff_detect', '163'}.
{'163', 'PSC_suff_detect'}.
{'PCS_trap_to_know', '164'}.
{'164', 'PCS_trap_to_know'}.
{'PSC_mon_get_hourglass', '165'}.
{'165', 'PSC_mon_get_hourglass'}.
{'PCS_handbook_list', '166'}.
{'166', 'PCS_handbook_list'}.
{'PCS_skill_button', '167'}.
{'167', 'PCS_skill_button'}.
{'PCS_sprite_fight', '168'}.
{'168', 'PCS_sprite_fight'}.
{'PSC_war_lose', '169'}.
{'169', 'PSC_war_lose'}.
{'PSC_record_mon', '170'}.
{'170', 'PSC_record_mon'}.
{'PSC_elite_on_map', '171'}.
{'171', 'PSC_elite_on_map'}.
{'PCS_mon_pvp', '172'}.
{'172', 'PCS_mon_pvp'}.
{'PSC_hero_pvp', '173'}.
{'173', 'PSC_hero_pvp'}.
{'PCS_map_skin', '174'}.
{'174', 'PCS_map_skin'}.
{'PSC_dungeon', '175'}.
{'175', 'PSC_dungeon'}.
{'PSC_skill_use', '176'}.
{'176', 'PSC_skill_use'}.
{'PSC_map_skin', '177'}.
{'177', 'PSC_map_skin'}.
{'PCS_sign_list', '178'}.
{'178', 'PCS_sign_list'}.
{'PSC_login', '179'}.
{'179', 'PSC_login'}.
{'PCS_ITEM_POS', '180'}.
{'180', 'PCS_ITEM_POS'}.
{'PCS_skill_use', '181'}.
{'181', 'PCS_skill_use'}.
{'PSC_item_change', '182'}.
{'182', 'PSC_item_change'}.
{'PCS_elite_unmount', '183'}.
{'183', 'PCS_elite_unmount'}.
{'PSC_skill_button', '184'}.
{'184', 'PSC_skill_button'}.
{'PSC_elite_relive', '185'}.
{'185', 'PSC_elite_relive'}.
{'PSC_item_change_list', '186'}.
{'186', 'PSC_item_change_list'}.
