
%% 由make_proto.lua自动生成

{'PCS_trap_on_map', ['undefined', 'mod_trap']}.
{'PCS_suff_start', ['undefined', 'mod_suff_mon']}.
{'PCS_set_name', ['undefined', 'mod_hero']}.
{'PCS_mon_reborn', ['undefined', 'mod_mon']}.
{'PCS_item_use', ['undefined', 'mod_item']}.
{'PCS_select_enemy', ['undefined', 'mod_battle']}.
{'PCS_hero_pvp', ['undefined', 'mod_hero_pvp']}.
{'PCS_mon_to_soul', ['undefined', 'mod_mon']}.
{'PCS_attr_up', ['undefined', 'mod_elite']}.
{'PCS_activity_rebate_award', ['undefined', 'mod_activity']}.
{'PCS_get_mvm_team', ['undefined', 'mod_mvm']}.
{'PCS_set_sex', ['undefined', 'mod_hero']}.
{'PCS_battle_refresh', ['undefined', 'mod_battle']}.
{'PCS_email_list', ['undefined', 'mod_email']}.
{'PCS_mvm_rank', ['undefined', 'mod_mvm']}.
{'PCS_war_action', ['undefined', 'mod_fight']}.
{'PCS_client_debug', ['undefined', 'mod_client_debug']}.
{'PCS_elite_mount', ['undefined', 'mod_elite']}.
{'PCS_mvm_refresh', ['undefined', 'mod_mvm']}.
{'PCS_change_map', ['undefined', 'mod_map']}.
{'PCS_map', ['undefined', 'mod_map']}.
{'PCS_skill_up', ['undefined', 'mod_hero']}.
{'PCS_easy_buy', ['undefined', 'mod_shop']}.
{'PCS_battle', ['undefined', 'mod_battle']}.
{'PCS_mon_get_hourglass', ['undefined', 'mod_mon']}.
{'PCS_suff_status', ['undefined', 'mod_suff_mon']}.
{'PCS_chat_list', ['undefined', 'mod_chat']}.
{'PCS_mon_on_map', ['undefined', 'mod_mon']}.
{'PCS_war_end', ['undefined', 'mod_fight']}.
{'PCS_sign_award', ['undefined', 'mod_sign']}.
{'PCS_first_pay_award', ['undefined', 'mod_pay']}.
{'PCS_elite_list', ['undefined', 'mod_elite']}.
{'PCS_activity_rebate', ['undefined', 'mod_activity']}.
{'PCS_mvm_list', ['undefined', 'mod_mvm']}.
{'PCS_mvm_start', ['undefined', 'mod_mvm']}.
{'PCS_activity_pay_list', ['undefined', 'mod_activity']}.
{'PCS_chat', ['undefined', 'mod_chat']}.
{'PCS_record_index_list', ['undefined', 'mod_record']}.
{'PCS_goal_award', ['undefined', 'mod_goal']}.
{'PCS_record_mvm', ['undefined', 'mod_record']}.
{'PCS_handbook_list', ['undefined', 'mod_handbook']}.
{'PCS_goal_list', ['undefined', 'mod_goal']}.
{'PCS_hero_pve', ['undefined', 'mod_hero_pve']}.
{'PCS_get_dungeon_data', ['undefined', 'mod_hero_pve']}.
{'PCS_save_dungeon_data', ['undefined', 'mod_hero_pve']}.
{'PCS_item_sale', ['undefined', 'mod_item']}.
{'PCS_email_confirm', ['undefined', 'mod_email']}.
{'PCS_shop_list', ['undefined', 'mod_shop']}.
{'PCS_email_get_item', ['undefined', 'mod_email']}.
{'PCS_shop_buy', ['undefined', 'mod_shop']}.
{'PCS_activity_pay_award', ['undefined', 'mod_activity']}.
{'PCS_record', ['undefined', 'mod_record']}.
{'PCS_activity_list', ['undefined', 'mod_activity']}.
{'PCS_mon_hourglass', ['undefined', 'mod_mon']}.
{'PCS_gm', ['undefined', 'mod_gm']}.
{'PCS_elite_on_map', ['undefined', 'mod_elite']}.
{'PCS_pvp_rank', ['undefined', 'mod_battle']}.
{'PCS_trap_to_know', ['undefined', 'mod_trap']}.
{'PCS_skill_button', ['undefined', 'mod_fight']}.
{'PCS_pay', ['undefined', 'mod_pay']}.
{'PCS_suff_detect', ['undefined', 'mod_suff_mon']}.
{'PCS_set_mvm_team', ['undefined', 'mod_mvm']}.
{'PCS_mon_pvp', ['undefined', 'mod_mon_pvp']}.
{'PCS_trap_lv_up', ['undefined', 'mod_trap']}.
{'PCS_sign_list', ['undefined', 'mod_sign']}.
{'PCS_dungeon_list', ['undefined', 'mod_hero_pve']}.
{'PCS_skill_use', ['undefined', 'mod_hero']}.
{'PCS_elite_unmount', ['undefined', 'mod_elite']}.
